/**
* Lightbox
*/
#lightbox{
    position: fixed;
    padding: 30px;
    background-color: #ddd;
    border: 10px solid #ccc;
    border-radius: 20px;
    overflow: visible;
}

#lightbox::before{
    content: "X";
    display: flex;
    position: absolute;
    top: -20px;
    right: -10px;
    color: #000;
    width: 40px;
    height: 40px;
    place-content: center;
    background-color: #f0ce48;
    line-height: 40px;
    border-radius: 50%;
    z-index: 10;
}

::backdrop{
    background-color: #eef;
    opacity: 0.8;
}
#lightbox[open]{
    animation-duration: 2s;
    animation-name: entre;
}
#lightbox.sortie{
    animation-duration: 3s;
    animation-name: sortie;
}
@keyframes entre{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
    }
}
@keyframes sortie{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}