/**
* Lightbox
*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
code{
    padding: 20px;
    background-color: #f0ede1;
    border-radius: 0 0 40px 0;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0px;
    height: 100px;
    background-color: #f0ce48;
    border-radius: 0 0 60px 0;

}
.header::before{
    content: "TP-5";
}

#lightbox{
    position: fixed;
    padding: 30px;
    background-color: #ddd;
    border: 10px solid #ccc;
    border-radius: 20px;
    overflow: visible;
}

#lightbox::before{
    content: "X";
    display: flex;
    position: absolute;
    top: -20px;
    right: -10px;
    color: #000;
    width: 40px;
    height: 40px;
    place-content: center;
    background-color: #f0ce48;
    line-height: 40px;
    border-radius: 50%;
    z-index: 10;
}

::backdrop{
    background-color: #eef;
    opacity: 0.8;
}
#lightbox[open]{
    animation-duration: 2s;
    animation-name: entre;
}
#lightbox.sortie{
    animation-duration: 2s;
    animation-name: sortie;
}
@keyframes entre{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
    }
}
@keyframes sortie{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}